/*
    
ANU Platinum 
#4C6E78
RGB(076,110,120)
text-uni #ACC0C6
RGB(172,192,198)
bg-uni #D6E0E3
RGB(214,224,227)
bg-uni50 #EAEFF1
RGB(234,239,241)
bg-uni25 #F7F9F9
RGB(247,249,249)
bg-uni10 

Charcoal Grey
#666666
RGB(102,102,102)
text-grey #333333
RGB(051,051,051)
bg-grey #999999
RGB(153,153,153)
bg-grey50 #CCCCCC
RGB(204,204,204)
bg-grey25 #EBEBEB
RGB(235,235,235)
bg-grey10 

Black
#000000
RGB(000,000,000)
text-black #000000
RGB(000,000,000)
bg-black       

White
#FFFFFF ^
RGB(255,255,255)
 text-white #FFFFFF
RGB(255,255,255)
bg-white       

*/
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #f7f9f9;
    text-shadow: 0.36px 0.36px 0.6px #555;
}

body, html{
    width:100%;
    height:100%;
}

#background {
    z-index: -1000;
    background-size: cover;
    display: block;
    filter: blur(25px);
    -webkit-filter: blur(25px);
    position: absolute;
    background-color: #111111;
}

#backgroundDarkener {
    background-color: rgba(0, 0, 0, 0.18);
    z-index: -999;
    position: absolute;
    width: 100%;
    height: 100%;
}

body {
    background-color: #111111;
    margin: 0px;
    padding: 0px;
}


div {
    position: relative;
}

canvas {
    pointer-events: none;
}

#paintCanvas {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.3;
    z-index:2;
    pointer-events: all;
    cursor: crosshair;
}
#guideCanvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index:1;
    pointer-events:none;
}

#topmenu {
    width:100%;
    background-color: rgba(0,0,0,0.4);
    height:26px;
    top:0;
    position:relative;
}

.topmenu_btn{
    margin:0;
    border:0;
    padding:4px;
    height:26px;
    background-color:#444;
    opacity:0.6;
    color:#fff;
    text-shadow: 1px 1px #000;
    cursor:pointer;
}

#toolbox {
    background-color: rgba(0, 0, 0, 0.6);
    position:absolute;
    z-index:10;
    width:96px;
    height:200px;
}

#toolboxHead{
    background-color: #444444;
    text-align: center;
    font-size:12px;
    font-weight:200;
}
#mainContainerHead{
    background-color: #444444;
    padding-left:12px;
    font-size:12px;
    font-weight:200;
}

#cursorContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.instructionsList {
    font-size: 11px;
    list-style-type: none;
    opacity: 0.9;
    font-weight: 200;
}

.instructions {
    position: absolute;
    bottom: 24px;
    right: 8px;
}

#progress {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 16px;
    width: 100%;
    z-index: 100;
    background-color: rgba(0,0,0, 0.5);
    opacity: 1;
    transition: opacity 1.2s;
}

#progressBar {
    position: absolute;
    height: 100%;
    left: 0;
    background-color: rgb(076,110,120);
    width: 0;
}

#progressText {
    font-size: 12px;
    text-align: center;
}

#mainContainer {
    position: absolute;
    -webkit-transition-duration:0.05s; /* Safari */
    transition-duration: 0.05s;
}

#cursor {
    position: fixed;
    z-index: 1000;
    visibility: hidden;
}

.settingsLabel {
    font-weight: 300;
}
